################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EdicolaManagerMara/.vs
/EdicolaManagerMara/EdicolaManager/obj/Debug
/EdicolaManagerMara/EdicolaManagerBL/obj/Debug
/EdicolaManagerMara/EdicolaManagerTests/obj/Debug
/EdicolaManagerMara/EdicolaMVC/bin
/EdicolaManagerMara/EdicolaMVC/obj/Debug
/EdicolaManagerMara/packages
